div
    div.carousel-inner
        div.carousel-item
            div.sliderImgText
                display: flex
                flex-direction: row
                position: absolute
                top: 20%
                left:10%
                color: white
                text-align: center
                max-width: 80%
                p
                    font-size: 2.5rem
                    font-weight: bold
                    margin-top: 9rem
                    margin-left: 4rem 
                    text-align: justify
                    padding: 0