nav
    background: #4F4F4F
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 0rem 5rem 0rem 5rem
    img
        width: 3.5rem
        margin: .5rem
    ul
        display: flex
        flex-direction: row
        margin: 0
        padding: 0
        li
            list-style: none
            // margin: 0rem 2rem 0rem 2rem
            padding: 0rem 3rem 0rem 3rem
            text-decoration: none
            display: flex
            align-items: center
            a
                text-decoration: none
                color: #FFFF    
                font-size: 1rem
        li:hover
            background: #626262
            cursor: pointer
            a
                scale:1.2
        div
            width: 19 rem
            height: .3rem
            background-color: #FFFF
        